
<% provide(:title, 'MoreAboutMe') %>
<h1>More About Me</h1>
<p class="whitetext">
	Contact info: <br> JL Cruz<br> (210)859-1254<br>jlcruz2013@gmail.com

<h5>
	My hobbies include:
	Pingpong, Basketball, Tennis, and Designing/Creating Robots <br> <br> <br>
	
 </h5>
<h5>My Zoo:</h5>
 
 	<div class="span7 offset2">
	<img src="/assets/Princess.jpg" alt="Picture of Princess"  /><h3>Princess</h3>
</div>
<br><br>
    <div class="span7 offset2">
	<img src="/assets/Jaxson.jpg" alt="Picture of Jaxson" /><h3>Jaxson</h3>
</div>
<br><br>
 
	<div class="span7 offset2">
	<img src="/assets/Bolt.jpg" alt="Picture of Bolt" />
	<h3>Bolt</h3>
</div>
 <br><br>
 	
	<img src="/assets/Lola.jpg" alt="Picture of Lola" />
	<h3>Lola</h3>

<br><br>