
<% provide(:title, 'MoreAboutMe') %>
<h1>More About Me</h1>
<p class="whitetext">
	Contact info: <br> JL Cruz<br> (210)859-1254<br>jlcruz2013@gmail.com

<h4>
	My hobbies include:
	Pingpong, Basketball, Tennis, and Designing/Creating Robots <br> <br> <br>
	
 </h4>
<h5 class="whitetext">My Zoo:</h5>
 
 	<div class="span7 offset2">
	<img src="/assets/Princess.jpg" alt="Picture of Princess"  /><h4>Princess</h4>
</div>
<br><br>
    <div class="span7 offset2">
	<img src="/assets/Jaxson.jpg" alt="Picture of Jaxson" /><h4>Jaxson</h4>
</div>
<br><br>
 
	<div class="span7 offset2">
	<img src="/assets/Bolt.jpg" alt="Picture of Bolt" />
	<h4>Bolt</h4>
</div>
 <br><br>
 	
	<img src="/assets/Lola.jpg" alt="Picture of Lola" />
	<h4>Lola</h4>

<br><br>