<div class="center hero-unit">
  <h1>JL Cruz</h1>
  <h2>Once quoted as "The Master of the Universe"</h2>
 <img src="/assets/graduation.jpg" alt="Picture of Me" />

  <h3>
    Hello world! I am JL Cruz an Electrical Engineering Student at The University of Texas at San Antonio. I am focusing on Control Systems and Robotic Designs. If you would like to know more about me click on the following link.
    <a href="/contact">Put a link here for more about me</a>
    If you would like to sign up for my fan club push the button below!
  </h3>

  <%= link_to "View my LinkedIn Profile", 'http://www.linkedin.com/pub/jose-luis-cruz/6a/346/b41', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>