<% provide(:title, 'Projects') %>
<h1>Projects</h1>

 <h1> Senior Design Project</h1><br>

<h5 class="whitetext">Main Device:</h5><br>
<div class="span12">
	<img src="/assets/device.jpg" alt="Picture of Device" />
	<h4> This is the skin for the ActiVac system designed in SolidWorks</h4>
	<br><br>
</div>

<h5 class="whitetext">Device with Charging Station:</h5><br>
<div class="span12">
	<img src="/assets/chargingstationanddevice.jpg" alt="Picture of Charging Station with Device" /><h4> This is the Docking Station I made for the ActiVac system with the skin attached</h4>
<br><br>
<br><br>
</div>
  <h5 class="whitetext">Sumo Robot Project</h5> <br>

<div class="span12">
	<img src="/assets/Sumobot2.jpg" alt="Picture of sumobot" /><h4>Prototyping Sumo-Bot:</h4><br>
<br><br>
</div>

<div class="span12">
<img src="/assets/Sumobot.jpg" alt="Picture of sumobot" />
</div>/><h4>Final Sumo-Bot</h4><br>

<br><br><br>
<h5 class="whitetext">Soccer Robots</h5><br>

<div class="span12">
<img src="/assets/controlbox.jpg" alt="Picture of control box" /> <h4> Control box I made integrating PS2 controllers, using XBee wireless transmitters.</h4>
</div>
<br>

<div class="span12">
<img src="/assets/soccerbots.jpg" alt="Picture of soccerbot" />
</div>

<br><h4> Testing functionality of robots</h4><br>

  <h5 class="whitetext">Lab 2 Project</h5> <br>
<div class="span12">
<img src="/assets/Lab2.JPG" alt="Picture of Lab2 Project" /> <h4> Audio Amplifier</h4>
</div>
<br><br>
  