<% provide(:title, 'Projects') %>
<h1>Projects</h1>

 <h1> Senior Design Project</h1><br>

<h5>Main Device:</h5><br>
<div class="span12">
	<img src="/assets/device.jpg" alt="Picture of Device" />
	<h3> This is the skin for the ActiVac system designed in SolidWorks</h3>
	<br><br>
</div>

<h5>Device with Charging Station:</h5><br>
<div class="span12">
	<img src="/assets/chargingstationanddevice.jpg" alt="Picture of Charging Station with Device" /><h3> This is the Docking Station I made for the ActiVac system with the skin attached</h3>
<br><br>
<br><br>
</div>
  <h5>Sumo Robot Project</h5> <br>

<div class="span12">
	<img src="/assets/Sumobot2.jpg" alt="Picture of sumobot" /><h3>Prototyping Sumo-Bot:</h3><br>
<br><br>
</div>

<div class="span12">
<img src="/assets/Sumobot.jpg" alt="Picture of sumobot" />
</div>

<br><br><br>
<h5>Soccer Robots</h5><br>

<div class="span12">
<img src="/assets/controlbox.jpg" alt="Picture of control box" /> <h3> Control box I made integrating PS2 controllers, using XBee wireless transmitters.</h3>
</div>
<br>

<div class="span12">
<img src="/assets/soccerbots.jpg" alt="Picture of soccerbot" />
</div>

<br><h3> Testing functionality of robots</h3><br>

  <h5>Lab 2 Project</h5> <br>
<div class="span12">
<img src="/assets/Lab2.JPG" alt="Picture of Lab2 Project" /> <h3> Audio Amplifier</h3>
</div>
<br><br>
  