<% provide(:title, 'Resume') %>
<h1>Resume</h1>
<p class="whitetext">
  Below are Links to my resume, either in plain text or PDF format.
 
</p>
<p class="whitetext">Plain Text:</p>
<a href="JL Cruz Resume2013.txt">My Resume (plain text)</a><br><br />
<p class="whitetext">PDF:</p>
<a href="JL Cruz Resume2013.pdf">My Resume (PDF)</a><br>

