<footer class="footer">
  <small>
    JL Cruz "The most Amazing Dude alive"
  </small>
  <nav>
    <ul>
      
      <li><%= link_to "Contact", contact_path %></li>
      


    </ul>
  </nav>
</footer>